@using Blazor.UI.List
@using Blazor.UI.Playground.Shared;
@page "/listselectsample"
@inject HttpClient Http
@attribute [NavMenuPage("ListSelect", "oi oi-list-rich")]

<PageTitle>ListSelect</PageTitle>

<h1>ListSelect</h1>

<ListSelect Context="forecast" Items="@forecasts">
    <ItemContent>
        <div> date: @forecast.Date summary: @forecast.Summary </div>
    </ItemContent>
    <Placeholder>
        <div>Loading..</div>
    </Placeholder>
</ListSelect>

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("/api/forecasts");
    }
}
